<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 class="text-center"> Enter your code we sent on your e-mail</h1>
    <form action="/validateOtp" method="post">
        <div class="form-group" >
            <label for="code">Code:</label>
            <input type="text" class="form-control" placeholder="Enter your code" name="otp" id="code">
        </div>
        <button type="submit" class="btn btn-success" >Submit</button>
    </form>

</div>

</body>
</html>